.descriptionContainer{
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    >div{
        min-width: 360px;
        max-width: 720px;
        padding: 14px;
        gap: 5px;
        text-align: justify;
        >p{
            margin-bottom: 20px;
        }

    }
}  
p>b{
    color: #872341;
}     
